
#include "\masm32\include\resource.h"


1 BITMAP "luna.bmp"

127 BITMAP "Bitmap_3.bmp"

131 BITMAP "Bitmap_4.bmp"

136 BITMAP "Bitmap_9.bmp"

137 BITMAP "Bitmap_10.bmp"



128 DIALOG 290, 140, 191, 137
STYLE DS_MODALFRAME | DS_SETFOREGROUND | WS_POPUP | WS_VISIBLE
//CAPTION ""
//LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "MS Sans Serif"
{
   CONTROL 127, -1, STATIC, SS_BITMAP | WS_CHILD | WS_VISIBLE, 2, 2, 20, 20 
   CONTROL "About ...", 129, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 3, 167, 8 
   CONTROL "", 130, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 121, 30, 11 
}



