#include "\masm32\include\resource.h"


130 DIALOG 200, 100, 430, 300
STYLE DS_ABSALIGN | WS_POPUP |WS_VISIBLE
//CAPTION "Dialog"
//LANGUAGE LANG_FRENCH, SUBLANG_FRENCH
FONT 8, "MS Sans Serif"
{
 // CONTROL 107, -1, "STATIC", SS_BITMAP | SS_REALSIZEIMAGE, 0, 0, 145, 79
 
CONTROL 1, 11, BUTTON, BS_BITMAP | SS_LEFT | WS_CHILD | WS_VISIBLE |BS_FLAT, 413,0, 14,14
}

1 BITMAP "exit.bmp"