#include "\masm32\include\resource.h"




BOB BITMAP "Bitmap_BOB.bmp"




134 DIALOG 100, 100, 242, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
//LANGUAGE LANG_FRENCH, SUBLANG_FRENCH
FONT 8, "MS Sans Serif"
{
   CONTROL "BOB", 31337, "STATIC", SS_BITMAP | SS_CENTERIMAGE, 77, 12, 85, 35

   
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 45, 55, 50, 14 
   //CONTROL "", 1017, EDIT, ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 7, 228, 149 

//CONTROL "uuuuuu ",23,STATIC,WS_CHILD| WS_VISIBLE ,6,6,60,149

}




