
600 ICON DISCARDABLE "rzr.ico"
400 RCDATA DISCARDABLE "DATA\song.xm"
101 DIALOGEX 0,0,320,240
CAPTION "Razor 1911 - Sharpening The Blade Since 1985"
FONT 0,""
STYLE 0x800a0880
EXSTYLE 0x00000000
BEGIN
END
