#include "\masm32\include\resource.h"



100 DIALOG 0, 0, 440, 207
STYLE DS_SETFONT | DS_CENTER | WS_POPUP | WS_SYSMENU | WS_MINIMIZEBOX
//LANGUAGE LANG_POLISH, SUBLANG_DEFAULT
FONT 8, "MS SANS SERIF"
{
  CONTROL 250, -1, "STATIC", SS_BITMAP, 0, 0, 60, 24
  CONTROL 250, -1, "STATIC", SS_BITMAP, 40, 0, 60, 24
  CONTROL 250, -1, "STATIC", SS_BITMAP, 80, 0, 60, 24
  CONTROL 250, -1, "STATIC", SS_BITMAP, 120, 0, 60, 24
  CONTROL 250, -1, "STATIC", SS_BITMAP, 160, 0, 60, 24
  CONTROL 250, -1, "STATIC", SS_BITMAP, 200, 0, 60, 24
  CONTROL 250, -1, "STATIC", SS_BITMAP, 240, 0, 60, 24
  CONTROL 250, -1, "STATIC", SS_BITMAP, 280, 0, 60, 24
  CONTROL 250, -1, "STATIC", SS_BITMAP, 320, 0, 60, 24
  CONTROL 250, -1, "STATIC", SS_BITMAP, 360, 0, 60, 24
  CONTROL 250, -1, "STATIC", SS_BITMAP, 400, 0, 60, 24
  CONTROL 260, -1, "STATIC", SS_BITMAP, 0, 192, 60, 24
  CONTROL 260, -1, "STATIC", SS_BITMAP, 40, 192, 60, 24
  CONTROL 260, -1, "STATIC", SS_BITMAP, 80, 192, 60, 24
  CONTROL 260, -1, "STATIC", SS_BITMAP, 120, 192, 60, 24
  CONTROL 260, -1, "STATIC", SS_BITMAP, 160, 192, 60, 24
  CONTROL 260, -1, "STATIC", SS_BITMAP, 200, 192, 60, 24
  CONTROL 260, -1, "STATIC", SS_BITMAP, 240, 192, 60, 24
  CONTROL 260, -1, "STATIC", SS_BITMAP, 280, 192, 60, 24
  CONTROL 260, -1, "STATIC", SS_BITMAP, 320, 192, 60, 24
  CONTROL 260, -1, "STATIC", SS_BITMAP, 360, 192, 60, 24
  CONTROL 260, -1, "STATIC", SS_BITMAP, 400, 192, 60, 24
  SCROLLBAR   110, 428, 15, 12, 158, SBS_VERT
}

240 BITMAP "240.bmp"
241 BITMAP "241.bmp"
250 BITMAP "250.bmp"
260 BITMAP "260.bmp"

1 24 DISCARDABLE "tem.txt"

1 RCDATA "nfo.nfo"