#include "\masm32\include\resource.h"




744 DIALOGEX 200, 125, 229, 76
STYLE DS_SYSMODAL | DS_SETFOREGROUND | WS_POPUP | WS_VISIBLE 
EXSTYLE WS_EX_TOPMOST | WS_EX_TOOLWINDOW
;STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU| WS_VISIBLE 


CAPTION " "
//LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "Tahoma"
{



}



