#include "\masm32\include\resource.h"

101 DIALOGEX 0, 0, 233, 70
STYLE DS_MODALFRAME | DS_SETFOREGROUND | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 12, "Courier New"
{
   CONTROL "Exit", 1003, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 187, 57, 40, 11 , 0x00020000
   CONTROL "Generate", 1002, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 133, 57, 40, 10 
   CONTROL "", 1004, EDIT, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 14, 218, 10 , 0x00020000
   CONTROL "", 1005, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 40, 218, 12 , 0x00020000
   CONTROL "name: ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 4, 73, 8 
   CONTROL "Key:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 31, 63, 8 
   CONTROL "© CyberDoom Systems", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP, 15, 58, 100, 9 
}

104 BITMAP "smile.bmp"
