#include "\masm32\include\resource.h"



106 BITMAP "Bitmap_1.bmp"

//107 BITMAP "Bitmap_2.bmp"

//108 BITMAP "Bitmap_3.bmp"

//109 BITMAP "Bitmap_4.bmp"

//110 BITMAP "Bitmap_5.bmp"

122 BITMAP "Bitmap_6.bmp"

101 DIALOGEX 0, 0, 208, 147
STYLE DS_CENTER | WS_POPUP
CAPTION ""
//LANGUAGE LANG_FRENCH, SUBLANG_FRENCH
FONT 8, "MS Sans Serif"
{
   CONTROL "", 1000, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 85, 194, 12 , 0x00020000
   CONTROL "", 1004, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 108, 194, 12 , 0x00020000
   CONTROL "About", 1002, BUTTON, BS_PUSHBUTTON | BS_BITMAP | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 126, 31, 14 
   CONTROL "Exit", 1003, BUTTON, BS_PUSHBUTTON | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 48, 126, 31, 14 
   CONTROL 110, 1008, STATIC, SS_BITMAP | SS_NOTIFY | WS_CHILD | WS_VISIBLE, 193, 5, 7, 7 
   CONTROL "Serial Number :", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 75, 61, 10 
   CONTROL "Unlock code:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 99, 44, 8 
}

104 DIALOG 160, 150, 162, 99
STYLE DS_ABSALIGN | DS_CENTER | WS_POPUP
CAPTION ""
//LANGUAGE LANG_FRENCH, SUBLANG_FRENCH
FONT 8, "MS Sans Serif"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | BS_BITMAP | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 63, 83, 34, 12 
   CONTROL 110, 1008, STATIC, SS_BITMAP | SS_NOTIFY | WS_CHILD | WS_VISIBLE, 148, 5, 7, 7 
}

//106 ICON "Icon_1.ico"

